body{
background-color: #D3D9DF;

}
#head {
background-color: #004489;
}
#sidenav {
margin-left: 20px;
}
.circle {
border-radius: 50%;
display: inline-block;
margin-right: 20px;
position: absolute;
right: -15px;
top: 90px;
}
#profile1 {
width: 80px;
height: 80px;
background: white;
}
#profile2 {
width: 80px;
height: 80px;
background: white;
}
#profile3 {
width: 80px;
height: 80px;
background: white;
position: absolute;
}
